## Table of Contents
1. Importing Libraries
2. Loading Data
3. Data Preprocessing
4. Save Data

## 1. Imports and Settings

In [1]:

import pandas as pd
import numpy as np
import nltk

import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

import os
import sys
import warnings
import re
import pickle
warnings.filterwarnings('ignore')

## 2. Load Data

In [2]:

# Current working directory
cwd='DataSet/BBC News Summary/'

# Path to the files
article_path=cwd+'News Articles/'
summary_path=cwd+'Summaries/'

# List of folders in the path
article_folders=os.listdir(article_path)
summary_folders=os.listdir(summary_path)

# List of files in the path
article_files=[]
summary_files=[]

for folder in article_folders:
    # append name with folder name
    article_files.append([folder+'/'+file for file in os.listdir(article_path+folder)])


for folder in summary_folders:
    # append name with folder name
    summary_files.append([folder+'/'+file for file in os.listdir(summary_path+folder)])


# Flatten the list
article_files=[item for sublist in article_files for item in sublist]
summary_files=[item for sublist in summary_files for item in sublist]


# Sort the list
article_files.sort()
summary_files.sort()

In [3]:

# Path to the files
article_files=[article_path+file for file in article_files]
summary_files=[summary_path+file for file in summary_files]

# Sample files
article_files[:5]

['DataSet/BBC News Summary/News Articles/business/001.txt',
 'DataSet/BBC News Summary/News Articles/business/002.txt',
 'DataSet/BBC News Summary/News Articles/business/003.txt',
 'DataSet/BBC News Summary/News Articles/business/004.txt',
 'DataSet/BBC News Summary/News Articles/business/005.txt']

In [4]:

# Sample files
summary_files[:5]

['DataSet/BBC News Summary/Summaries/business/001.txt',
 'DataSet/BBC News Summary/Summaries/business/002.txt',
 'DataSet/BBC News Summary/Summaries/business/003.txt',
 'DataSet/BBC News Summary/Summaries/business/004.txt',
 'DataSet/BBC News Summary/Summaries/business/005.txt']

In [5]:
# Read the first article and summary

with open(article_files[0], 'r') as file:
    article = file.read().replace('\n', '')


with open(summary_files[0], 'r') as file:
    summary = file.read().replace('\n', '')

print("Start")
print(article)
print("End")
print(summary)

Start
Ad sales boost Time Warner profitQuarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (£600m) for the three months to December, from $639m year-earlier.The firm, which is now one of the biggest investors in Google, benefited from sales of high-speed internet connections and higher advert sales. TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn. Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL.Time Warner said on Friday that it now owns 8% of search-engine Google. But its own internet business, AOL, had has mixed fortunes. It lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters. However, the company said AOL's underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues. It hopes to increase subscribers by offering the online service free to TimeWarner internet customers and will try to sign up AOL's existing customers for high-speed broadband. TimeWarner also has to restate 2000 and 2003 results following a probe by the US Securities Exchange Commission (SEC), which is close to concluding.Time Warner's fourth quarter profits were slightly better than analysts' expectations. But its film division saw profits slump 27% to $284m, helped by box-office flops Alexander and Catwoman, a sharp contrast to year-earlier, when the third and final film in the Lord of the Rings trilogy boosted results. For the full-year, TimeWarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn. "Our financial performance was strong, meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility," chairman and chief executive Richard Parsons said. For 2005, TimeWarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins.TimeWarner is to restate its accounts as part of efforts to resolve an inquiry into AOL by US market regulators. It has already offered to pay $300m to settle charges, in a deal that is under review by the SEC. The company said it was unable to estimate the amount it needed to set aside for legal reserves, which it previously set at $500m. It intends to adjust the way it accounts for a deal with German music publisher Bertelsmann's purchase of a stake in AOL Europe, which it had reported as advertising revenue. It will now book the sale of its stake in AOL Europe as a loss on the value of that stake.
End
TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn.For the full-year, TimeWarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn.Quarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (£600m) for the three months to December, from $639m year-earlier.However, the company said AOL's underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues.Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL.For 2005, TimeWarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins.It lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters.Time Warner's fourth quarter profits were slightly better than analysts' expectations.

In [6]:

# Read all the articles and summaries

# Create empty lists
articles=[]
summaries=[]


# Read the files
for file in article_files:
    with open(file, 'r',encoding="utf8", errors='ignore') as f:
        articles.append(f.read().replace('\n', ''))

for file in summary_files:
    with open(file, 'r',encoding="utf8", errors='ignore') as f:
        summaries.append(f.read().replace('\n', ''))
        

# Create a dataframe

df=pd.DataFrame({'Article':articles,'Summary':summaries})
df.head()

,Article,Summary
0,Ad sales boost Time Warner profitQuarterly pro...,TimeWarner said fourth quarter sales rose 2% t...
1,Dollar gains on Greenspan speechThe dollar has...,The dollar has hit its highest level against t...
2,Yukos unit buyer faces loan claimThe owners of...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profitsBritish Airwa...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts DomecqShares in UK ...,Pernod has reduced the debt it took on to fund...

## 3. Data Preprocessing

In [7]:

# Our Custom Function to clean the text

# Set of Stopwords
stops=set(nltk.corpus.stopwords.words('english'))

# Lemmatizer
lammetizer=nltk.stem.WordNetLemmatizer()

def clean_for_article(text):

    # Lower case
    text=text.lower()

    # Remove punctuations
    text=re.sub(r'[^\w\s]','',text)

    # Remove numbers
    text=re.sub(r'\d+','',text)

    # Remove extra spaces
    text=re.sub(r'\s+',' ',text)

    # Remove extra spaces from start and end
    text=text.strip()

    # Remove Stopwords
    text=' '.join([word for word in text.split() if word not in stops])

    # lammatization
    text=' '.join([lammetizer.lemmatize(word) for word in text.split()])

    # Add start and end tokens
    text='<start> '+text+' <end>'

    return text


def clean_for_summary(text):

    # Lower case
    text=text.lower()

    # Remove punctuations
    text=re.sub(r'[^\w\s]','',text)

    # Remove numbers
    text=re.sub(r'\d+','',text)

    # Remove extra spaces
    text=re.sub(r'\s+',' ',text)

    # Remove extra spaces from start and end
    text=text.strip()

    # Add start and end tokens
    text='<start> '+text+' <end>'

    return text

In [8]:
df.Article=df.Article.apply(clean_for_article)
df.Summary=df.Summary.apply(clean_for_summary)

df.head()

,Article,Summary
0,<start> ad sale boost time warner profitquarte...,<start> timewarner said fourth quarter sales r...
1,<start> dollar gain greenspan speechthe dollar...,<start> the dollar has hit its highest level a...
2,<start> yukos unit buyer face loan claimthe ow...,<start> yukos owner menatep group says it will...
3,<start> high fuel price hit ba profitsbritish ...,<start> rod eddington bas chief executive said...
4,<start> pernod takeover talk lift domecqshares...,<start> pernod has reduced the debt it took on...

## 4. Save Data

In [9]:

# Save the dataframe into a csv file
df.to_csv('Resources/BBC_News_Summary.csv',index=False)